<h2 align="center"> Error 404 : Not Found </h2>
<pre><%= error.stack %></pre>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12" align="center">
            <p>Hear are some helpful links instead</p>
            <p> | <a href="/">Home</a> | <a href="/list">Podcast List</a> | </p>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-md-12" >
            <img src="/images/404.jpg" class="img-responsive .img-rounded" alt="Responsive image">
        </div>

        <div class="col-md-12">
            <p>Melted and damaged mannequins after a fire at Madam Tussaud’s Wax Museum in London, 1930</p>
        </div>
    </div>
</div>
