<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
<div class="container-fluid">
    <% include partials/template/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</div>
</body>
</html>
