<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
<div class="container-fluid">
    <% include partials/template/header.ejs %>
    <% include partials/template/navpod.ejs %>
    <div class="row">
        <div class="col-md-8">
            <p>Made with: Nodejs, expressjs, EJS</p>
            <ul class="nav nav-tabs" role="tablist">
                <li role="tab" class="active"><a href="#featured" role="tab" data-toggle="tab">Featured</a></li>
                <li role="tab"><a href="#news" role="tab" data-toggle="tab">News</a></li>
            </ul>
            <div class="tab-content">
                <% include partials/content/featured.ejs%>
                <% include partials/content/news.ejs%>
            </div>
        </div>
        <div class="col-md-4">
            <% include partials/template/selected.ejs %>
        </div>
    </div>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</div>
</body>
</html>
