<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body class="<%= page %>">
<div class="container-fluid">
    <% include partials/template/header.ejs %>
    <% include partials/template/navpod.ejs %>
    <div class="row">
        <div class="col-md-8">
            <p>Girma Nigusse (2016)</p>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Featured</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3> <i class="fa fa-bars"></i> Selected</h3>
            <div class="container-fluid">
                <% if(name.length > 0){ %>
                <% for(i=0; i < name.length; i++){ %>
                    <p><%=name[i]%></p>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>


    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</div>
</body>
</html>
