<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body class="<%= page %>">
<div class="container-fluid">
    <% include partials/template/header.ejs %>
    <div class="row">
        <div class="col-md-9">
            <% include partials/template/listjumbotron.ejs %>
            <% include partials/content/podlist.ejs %>
        </div>
        <div class="col-md-3">
            <% include partials/content/podlinks.ejs %>
        </div>
    </div>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</div>
</body>
</html>