<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body class="<%= page %>">
    <% include partials/template/header.ejs %>
    <p> test ...</p>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>