<div class="navbar panel-footer">
    <footer>
        <p class="text-muted">Uncertainty is the only certainty there is,
            and knowing how to live with insecurity is the only security.

            —John Allen Paulos </p>
        <p class="text-muted">2016 https://github.com/xgirma/secpod</p>
        <p class="text-muted">Since 2005 Girma Nigusse</p>
    </footer>
</div>
