<div class="jumbotron">
    <div class="container">
        <h1> <span class="glyphicon glyphicon-equalizer">Secpood</h1>
        <p>A directory of selected information security podcasts.</p>
        <% include ./navpod.ejs %>
    </div>
</div>