<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-equalizer"></span>Secpood</h1>
    <p>A directory of selected information security podcasts.</p>
    <footer class="text-muted" id="now-playing">Now Playing:</footer>
    <footer id="selected-title"><%= podcast[0].title %></footer>

    <audio src="<%= podcast[0].audio %>" id="selected-audio">
        Your browser does not support the audio element.
    </audio>

    <button onclick="playListAudioFromNav()" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-play"></span>
        <span class="glyphicon glyphicon-pause"></span>
    </button>

    <button onclick="stopListAudio()" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-stop"></span>
    </button>
    <form action="/list" method="post" style="display: inline;">
        <input type="hidden" name="id" type="number" value="<%= podcast[0]._id %>"/>
        <input id="x" type="Submit" value="Like" class="btn btn-default btn-xs"/>
    </form>
    <p id="x" style="display: inline; font-size:18px;"><sup><%= podcast[0].like %></sup></p>

</div>

<script>
    $(document).ready(function () {
        $("#now-playing").hide();
    });
</script>


