<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-equalizer"></span>Secpood</h1>
        <p>A directory of selected information security podcasts.</p>
        <% include ./navplayer.ejs %>
    </div>
</div>