<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-equalizer"></span>Secpood</h1>
    <p>A directory of selected information security podcasts.</p>
    <footer class="text-muted" id="now-playing">Now Playing: </footer>
    <footer id="selected-title"><%= podcast[0].title %></footer>

    <audio src="<%= podcast[0].audio %>" id="selected-audio">
        Your browser does not support the audio element.
    </audio>

    <footer>
        <button onclick="playListAudioFromNav()">
            <span class="glyphicon glyphicon-play"></span>
            <span class="glyphicon glyphicon-pause"></span>
        </button>

        <button onclick="stopListAudio()">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button onclick="">
            <b>Like</b>
        </button>
    </footer>
</div>

<script>
    $(document).ready(function() {
        $("#now-playing").hide();
    });
</script>


