<!-- featured podcast for the top nave bar -->
<header class="bgimage">
    <div class="container">
    <div class="container-fixed">
        <p>Girma Nigusse</p>
        <p>(2016)</p>
        <p>Featured episode:</p>
        <audio controls>
            <source src="<%= featured[0].audio %>" type="audio/mpeg"/>
            <a href="<%= featured[0].url %>">liquidmatrix</a>
        </audio>
        <p align="center"><%= featured[0].title %></p>
    </div>
    </div>
</header>