<div class="container-fluid well well-sm">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <p>Playing episode:</p>
            <audio src="<%= podcast[0].audio %>" id="navaudio" controls>
                <a href="<%= podcast[0].url %>"><%= podcast[0].author %></a>
            </audio>
            <p align="center"><%= podcast[0].title %></p>
        </div>
    </div>
</div>