<!-- featured podcast for the top nave bar -->
<header class="bgimage">
    <div class="container">
    <div class="container-fixed">
        <p>Girma Nigusse</p>
        <p>(2016)</p>
        <p>Featured episode:</p>
        <audio controls>
            <source src="http://traffic.libsyn.com/liquidmatrix/LSDPodcast-0x66.mp3" type="audio/mpeg"/>
            <a href="https://www.liquidmatrix.org/blog/2016/03/02/liquidmatrix-security-digest-podcast-episode-66/">liquidmatrix</a>
        </audio>
        <h3 align="center"><%= appdata.podcast[0].episode[0].title%></h3>
    </div>
    </div>
</header>