<div class="container-fluid well well-sm">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <footer class="text-muted">Playing episode:</footer>
            <audio src="<%= podcast[0].audio %>" id="navaudio" controls>
                Your browser does not support the audio element.
            </audio>
            <p align="center" id="navaudiotitle"><%= podcast[0].title %></p>
        </div>
    </div>
</div>