<div class="container-fluid well well-sm">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <p>Playing episode:</p>
            <audio controls>
                <source src="" type="audio/mpeg"/>
                <a href=""></a>
            </audio>
            <p align="center">Title ...</p>
        </div>
    </div>
</div>