<div class="container-fluid well well-sm">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <p>Featured episode:</p>
            <audio controls>
                <source src="<%= featured[0].audio %>" type="audio/mpeg"/>
                <a href="<%= featured[0].url %>"><%= featured[0].author %></a>
            </audio>
            <p align="center"><%= featured[0].title %></p>
        </div>
    </div>
</div>