<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Selected</h2>
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <% if(selected.length > 0){ %>
            <% for(i = 0; i < selected.length; i++){ %>
            <p>
                <span class="glyphicon glyphicon-thumbs-up"></span> <%= featured[0].like %>
                <%= selected[i].author %> : <%= selected[i].episode %>
            </p>
            <% } %>
            <% } %>
        </div>
    </div>
</div>