.bgimage {
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  height: 300px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
