<div role="tabepanel" class="tab-pane" id="news">
    <br>
    <p></p>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>expressjs, nodejs, ejs, mongodb, gulp, jshintrc,
            </p>
        </div>
    </div>
</div>