<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">et cet·er·a</h2>
    </div>
    <div class="panel-body">
        <% if(sites.length > 0){ %>
        <% for(var i = 0; i < sites.length; i++){ %>
        <ul class="list-unstyled">
            <li><%= sites[i].name %></li>
        </ul>
        <% } %>
        <% } %>
    </div>
</div>