<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Get the latest</h2>
    </div>
    <div class="panel-body">
        <% if(sites.length > 0){ %>
        <% for(var i = 0; i < sites.length; i++){ %>
        <ul class="list-unstyled">
            <li>
                <form  action='/list' method="post" style="display: inline;">
                    <input type="hidden" name="rss" type="string" value="<%= sites[i].rss %>"/>
                    <input type="hidden" name="valid" type="string" value="<%= sites[i].refresh %>"/>
                    <button type="submit" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </form>
                <p  style="display: inline;">
                    <a href="<%= sites[i].url %>" target="_blank" class="text-muted">
                        <%= sites[i].name %>
                    </a>
                </p>
            </li>
        </ul>
        <% } %>
        <% } %>
    </div>
</div>