<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">et cet·er·a</h2>
    </div>
    <div class="panel-body">
        <% if(sites.length > 0){ %>
        <% for(var i = 0; i < sites.length; i++){ %>
        <ul class="list-unstyled">
            <li>
                <form>
                    <button onclick="stopHomeAudio()" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <a href="<%= sites[i].url %>" target="_blank" class="text-muted">
                        <%= sites[i].name %>
                    </a>
                    <a href="<%= sites[i].rss %>" target="_blank" class="text-muted" >
                        rss
                    </a>
                </form>
            </li>
        </ul>
        <% } %>
        <% } %>
    </div>
</div>