<div style="background:transparent !important" class="jumbotron">

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Podcast</h2>
    </div>
    <div class="panel-body">
        This is the panel body ...
        This is the panel body ...
        This is the panel body ...
    </div>
</div>