<div style="background:transparent !important" class="jumbotron">

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">et cet·er·a</h2>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li>SecurityTube</li>
            <li>infosecurity.us</li>
            <li>explabs</li>
            <li>schneier</li>
            <li>swedemeat</li>
            <li>ddanchev</li>
            <li>attrition-dataloss</li>
            <li>RiskAnalysIs</li>
            <li>Matasano</li>
            <li>DarkReading</li>
            <li>Ddanchev</li>
            <li>First</li>
            <li>Computer World</li>
            <li>Linux Insider</li>
            <li>Window Security</li>
            <li>Tech World</li>
            <li>Security Focus</li>
            <li>Offensive Computing</li>
            <li>CERT</li>
            <li>Infosyssec</li>
            <li>Secur Iteam</li>
            <li>New Order</li>
            <li>Security Park</li>
            <li>Root secure</li>
            <li>antiPhishing</li>
            <li>Web Services Summit</li>
            <li>SNPX</li>
            <li>ITNnews</li>
            <li>zdnetasia</li>
            <li>GovernmentSecurity</li>
            <li>Techmeme</li>
            <li>NIST</li>
            <li>zone-h</li>
            <li>trendmicro</li>
            <li>taoSecurity</li>
        </ul>
    </div>
</div>