<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Top 10</h2>
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <% if(selected.length > 0){ %>
            <% for(i = 0; i < selected.length; i++){ %>
            <p>
                <%= selected[i].title %> <sup><%= selected[i].like %></sup>
            </p>
            <% } %>
            <% } %>
        </div>
    </div>
</div>